<div class="note-creator shadow-2">
        <pre>
            {{ newNote | json }}
        </pre>
      <form class="row">
        <input
          type="text"
          [(ngModel)]="newNote.title"
          (ngModelChange)="newNote.title = $event"
          name="newNoteTitle"
          placeholder="Title"
          class="col-xs-10 title"
        >
        <input
          type="text"
          [(ngModel)]="newNote.value"
          (ngModelChange)="newNote.value = $event"
          name="newNoteValue"
          placeholder="Take a note..."
          class="col-xs-10"
        >
        <div class="actions col-xs-12 row between-xs">
          <button
            type="submit"
            class="btn-light"
           >
            Done
          </button>
        </div>
      </form>
    </div>
